{% extends"::base.html.twig" %}
{% trans_default_domain 'app' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" />
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datetimepicker();
        });
    </script>
{% endblock %}
{% block container %}

    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">{{ title|trans }}</div>
            <div class="panel-body">
                <div class="form-group">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control margin-bottom', 'placeholder' : 'add.title.title'|trans({}, 'app')}}) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder' :  'add.details'|trans() }}) }}
                    <label for="todo_priority">{{ 'add.priority'|trans({}, 'app') }}:</label>
                    {{ form_widget(form.priority, {'attr': {'class': 'form-control' } }) }}
                    {# form_row(form.content) #}
                    {# form_row(form.priority) #}
                    <label for="todo_dueDate">{{ 'add.due'|trans() }}:</label>
                    <div style="position: relative" class="margin-bottom">
                        {{ form_widget(form.dueDate) }}
                    </div>
                    {# form_row(form.dueDate) #}
                    <button type="submit" class="btn btn-primary">
                        {% if title == 'add.title.header' %}
                            {{ 'add.add'|trans() }}
                        {% else %}
                            {{ 'add.edit'|trans() }}
                        {% endif %}
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="panel-footer">
                <a href="{{ path('all') }}" class="btn btn-info" type="button">{{ 'add.cancel'|trans() }}</a>
            </div>
        </div>
    </div>
{% endblock %}