{% extends "::base.html.twig" %}
{% trans_default_domain 'app' %}
{% block containter %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg|trans() }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel panel-success">
        <div class="panel-heading">
            {{ 'all.title.header'|trans() }}
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                {% if todos %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'all.title.title'|trans() }}</th>
                                <th>{{ 'all.priority'|trans() }}</th>
                                <th>{{ 'all.due'|trans() }}</th>
                                <th>Info</th>
                            </tr>
                            </thead>
                            <tbody>
                        {% for todo in todos %}
                            {% if(todo.done) %}
                                <tr class="bg-success">
                            {% else %}
                                <tr class="bg-warning">
                            {% endif %}
                                    <td>{{ todo.title }}</td>
                                    <td>{{ todo.priority }}</td>
                                    <td>{{ todo.dueDate|date("d.m.Y \\o g:i") }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('details', {'id' : todo.id}) }}" class="btn btn-primary" type="button">{{ 'all.details'|trans() }}</a>
                                            <a href="{{ path('edit', {'id' : todo.id}) }}" class="btn btn-info" type="button">{{ 'all.edit'|trans() }}</a>
                                            <a href="{{ path('delete', {'id' : todo.id}) }}" class="btn btn-danger" type="button">{{ 'all.delete'|trans() }}</a>
                                            {% if(todo.done == 0) %}
                                                <a href="{{ path('done', {'id' : todo.id}) }}" class="btn btn-success" type="button">{{ 'all.set'|trans() }}</a>
                                            {% else %}
                                                <button class="btn btn-default" type="button">{{ 'all.done'|trans() }}</button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-danger">{{ 'all.notask'|trans() }}</div>
                    <a href="{{ path("add") }}" class="btn btn-info">{{ 'all.new'|trans() }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}