{% extends "::base.html.twig" %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if todo %}
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">{{ todo.title }}</div>
                <div class="panel-body">
                    <h4>Szczegóły:</h4>
                    <div class="well">{{ todo.content }}</div>
                    <h4>Data wykonania:</h4>
                    <div class="well">{{ todo.dueDate|date }}</div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <a href="{{ path('edit', {'id' : todo.id}) }}" class="btn btn-info" type="button">Edytuj</a>
                        <a href="{{ path('delete', {'id' : todo.id}) }}" class="btn btn-danger" type="button">Usuń</a>
                        {% if(todo.done == 0) %}
                            <a href="#" class="btn btn-success" type="button">Oznacz jako wykonane</a>
                        {% else %}
                            <button class="btn btn-default" type="button">Zrobione</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger">Zadanie nieznalezione lub usunięte.</div>
    {% endif %}
{% endblock %}